<br>
<br>
<h1>Upload an ad!</h1>
<h2>Recommended Sizes (in pixels, length x height)</h2>
<ul>
  <li>300x250</li>
  <li>160x600</li>
  <li>728x90</li>
</ul>

<%= form_for :creative, :html => { :multipart => true }, url: creatives_path do |f| %>
    <%= hidden_field_tag :creator_email, current_user.email %>
    <p>
      <%= f.label :link %><br>
      <%= f.text_field :link %>
    </p>

    <p>
      <%= f.file_field :image %>
    </p>

    <p>
      <%= f.submit %>
    </p>
<% end %>