<h1>New Link</h1>
<%= form_for :creative, :html => { :multipart => true, :class => "row" }, url: creatives_path do |f| %>
    <%= hidden_field_tag :creator_email, current_user.email %>
    <div class="form-group">
        <div class="input-group">
            <div class="input-group-addon">Link</div>
            <%= f.text_field :link, :class => "form-control col-sm-12", :placeholder => "URL to link to" %>
        </div>
    </div>
    <div class="file-upload">
        <button>Upload</button>
        <p class="filename">No File Selected</p>
        <%= f.file_field :image, :class => "upload" %>
    </div>
    <%= f.button :type => :submit %>
<% end %>
