<br>
<br>
<h1>
  Create banner ads for established companies. Win prizes if they like your ad enough to use it!
</h1>

<h1>A year of airfare on Virgin Atlantic!</h1>
<%= image_tag('Virgin_Airlines_logo.gif') %>
<h1>$1000 Nordstrom Gift Card!</h1>
<%= image_tag('nordstrom.jpg') %>
<h1>Lunch with Kanye West!</h1>
<%= image_tag('kanye.jpg') %>
<h1>Lifetime supply of Coca-Cola products!</h1>
<%= image_tag('coke.jpg') %>
<h1>A guided tour, and opportunity to work for Dropbox as a designer!</h1>
<%= image_tag('dropbox.png') %>